<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h2 class="mb-4">Adamantum Admin</h2>
    <form (submit)="onSubmit()" [formGroup]="loginForm" class="p-4 border rounded shadow">
      <div class="mb-3">
        <input type="text" class="form-control" formControlName="userLogin" placeholder="Login">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" formControlName="userPassword" placeholder="Hasło">
      </div>
      <button type="submit" class="btn btn-primary w-100">Loguj</button>
    </form>
  </div>
</div>
