<nav class=" d-md-block bg-light sidebar collapse min-vh-100" id="sidebar">
  <h2 class=" text-center">MENU</h2>
  <div class="position-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a aria-current="page" class="nav-link active" routerLink="/">
          Home
        </a>
      </li>
      <li class="nav-item">
        <span (click)="togglePosts()" class="nav-link" routerLink="/posts-list">Posty</span>
        <ng-container *ngIf="isPostsOpened">
          <ul class="nav flex-column ms-3">
            <li><a class="nav-link" routerLink="/add-post">Dodaj</a></li>
            <li><a class="nav-link" routerLink="/posts-list">Lista</a></li>
          </ul>
        </ng-container>
      </li>
      <li class="nav-item">
        <span (click)="toggleCategories()" class="nav-link" routerLink="/categories-list">Kategorie</span>
        <ng-container *ngIf="isCategoriesOpened">
          <ul class="nav flex-column ms-3">
            <li><a class="nav-link" routerLink="/add-category">Dodaj</a></li>
            <li><a class="nav-link" routerLink="/categories-list">Lista</a></li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </div>
</nav>
