<ng-container *ngIf="routes$ | async as routes">
  <section aria-labelledby="directory-heading" class="directory directory--tree">
    <h2 class="visually-hidden" id="directory-heading">Directory Structure</h2>
    <ul aria-label="Directory list" class="directory__list">
      <ng-container *ngFor="let route of routes;">
        <li [ngClass]="{'tree-branch': (route?.children?.length || 0) > 0, 'tree-last': (route?.children?.length || 0) === 0}"
            class="directory__item">
          <ng-container *ngIf="route.categoryParentId">
            <span class="directory__root">{{ route.parentCategoryName }}</span>
            <ul class="directory__sublist">
              <ng-template [ngTemplateOutletContext]="{ $implicit: route.children }"
                           [ngTemplateOutlet]="itemTemplate"></ng-template>
            </ul>
          </ng-container>
          <ng-container *ngIf="route.categoryId && !route.categoryParentId">
            <span class="directory__subitem">{{ route.categoryName }}</span>
            <ul class="directory__sublist">
              <ng-template [ngTemplateOutletContext]="{ $implicit: route.children }"
                           [ngTemplateOutlet]="itemTemplate"></ng-template>
            </ul>
          </ng-container>
          <ng-container *ngIf="!route.categoryId && !route.categoryParentId">
            <a (click)="selectAndPassComponent(route)" [routerLink]="RoutePathHelper.createPath(route)"
               class="directory__link">{{ route.postTitle }}</a>
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </section>
</ng-container>

<ng-template #itemTemplate let-children>
  <ul class="directory__sublist">
    <ng-container *ngFor="let child of children">
      <li [ngClass]="{'tree-branch': (child?.children?.length || 0) > 0, 'tree-last': (child?.children?.length || 0) === 0}"
          class="directory__item">
        <ng-container *ngIf="child.children && child.children.length > 0">
          <span class="directory__subitem">{{ child.categoryName }}</span>
          <ul class="directory__sublist">
            <ng-template [ngTemplateOutletContext]="{ $implicit: child.children }"
                         [ngTemplateOutlet]="itemTemplate"></ng-template>
          </ul>
        </ng-container>
        <ng-container *ngIf="!child.children || child.children.length === 0">
          <a (click)="selectAndPassComponent(child)" [routerLink]="RoutePathHelper.createPath(child)" [state]="{item: child}"
             class="directory__link">{{ child.postTitle }}</a>
        </ng-container>
      </li>
    </ng-container>
  </ul>
</ng-template>
