.directory {
  font-family: monospace;

  &__list, &__sublist {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1.5rem;
    position: relative;

    &:before {
      content: "";
      border-left: 2px solid #ffffff;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 14px;
    }
  }

  &__item, &__subitem {
    position: relative;
    padding-left: 10px;
  }

  .tree-branch {
    &:before {
      content: '├──';
      position: absolute;
      left: -1rem;
      top: 0;
    }
  }

  // Ostatni element drzewa
  .tree-last {
    &:before {
      content: '└──';
      position: absolute;
      left: -1rem;
      top: 0;
    }

    // Usunięcie pionowej linii po ostatnim elemencie listy
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: auto;
      left: 14px;
      border-left: 2px solid transparent; // Usuwa linię na końcu
      height: 100%;
    }

    // Usunięcie pionowej linii z ostatniego elementu
    &:before {
      border-left: none;
    }

    // Poprawiamy linię pionową dla ostatniego elementu
    & + li:before {
      content: '';
      border-left: 2px solid transparent;
    }
  }

  &__link {
    text-decoration: none;
    color: #00ff00;
    transition: color 0.3s;
    padding-left: 10px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #00cc00;
    }
  }
}
